### Little Lemon Database Client Solution

In [1]:
# Install mysql-connector-python API
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\plane\appdata\local\programs\python\python311\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\plane\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (3.20.3)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
# Import the connector module from the mysql-connector library 
print("Importing MySQL connector/python module")
import mysql.connector as connector
print("MySQL connector/python module installed successfully")


# Establish connection to LittleLemondb database 
print("Establishing connection connection to database")
try:
    connection = connector.connect(user ="root", password = "root")
    print("Connection established with database")
except connector.error as er:
    print("Unable to establish connection")
    print ("Error Code: ", er.errno)
    print("Error Msg: ", er.msg)

Importing MySQL connector/python module
MySQL connector/python module installed successfully
Establishing connection connection to database
Connection established with database

In [2]:
# Create cursor objects to communicate with database 
cursor = connection.cursor() 
print("Cursor object created")

Cursor object created

In [3]:
cursor.execute("USE littlelemondb")

In [17]:
show_table = "show tables;"
cursor.execute(show_table)
results = cursor.fetchall()
print(results)

[('bookings',), ('customer',), ('delivery',), ('employee',), ('menu',), ('menuitems',), ('orders',), ('ordersview',)]

In [20]:
for result in results:
    print(result[0])

bookings
customer
delivery
employee
menu
menuitems
orders
ordersview

In [4]:
TotalSalesQuery = """ SELECT CONCAT(customer.FirstName,' ',customer.LastName) AS Guest_FullName, customer.PhoneNumber, customer.email, 
orders.TotalCost FROM customer INNER JOIN orders on customer.CustomerID = orders.CustomerID WHERE TotalCost > 60 """

cursor.execute(TotalSalesQuery)
results = cursor.fetchall()
print(results)

[('Tom Jones', '3476583746', 'Tom@yahoo.com', Decimal('113')), ('Todd Harris', '7185469769', 'Todd@gmail.com', Decimal('107')), ('James Robinson', '9172258957', 'James@gmail.com', Decimal('175')), ('Todd Harris', '7185469769', 'Todd@gmail.com', Decimal('200')), ('Tom Jones', '3476583746', 'Tom@yahoo.com', Decimal('160'))]

In [9]:
for result in results:
    print(result[0],"  ", result[1], "  ", result[2],"  ",result[3])

Tom Jones    3476583746    Tom@yahoo.com    113
Todd Harris    7185469769    Todd@gmail.com    107
James Robinson    9172258957    James@gmail.com    175
Todd Harris    7185469769    Todd@gmail.com    200
Tom Jones    3476583746    Tom@yahoo.com    160